<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reserva-heading" jhiTranslate="primeiraAplicacaoApp.reserva.home.createOrEditLabel">Create or edit a Reserva</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reserva.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reserva.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primeiraAplicacaoApp.reserva.dataHoraReserva" for="field_dataHoraReserva">Data Hora Reserva</label>
                    <div class="input-group">
                        <input id="field_dataHoraReserva" type="text" class="form-control" name="dataHoraReserva" ngbDatepicker  #dataHoraReservaDp="ngbDatepicker" [(ngModel)]="reserva.dataHoraReserva"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataHoraReservaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primeiraAplicacaoApp.reserva.dataHoraRetirdaPrev" for="field_dataHoraRetirdaPrev">Data Hora Retirda Prev</label>
                    <div class="input-group">
                        <input id="field_dataHoraRetirdaPrev" type="text" class="form-control" name="dataHoraRetirdaPrev" ngbDatepicker  #dataHoraRetirdaPrevDp="ngbDatepicker" [(ngModel)]="reserva.dataHoraRetirdaPrev"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataHoraRetirdaPrevDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primeiraAplicacaoApp.reserva.dataHoraDevolucaoPrev" for="field_dataHoraDevolucaoPrev">Data Hora Devolucao Prev</label>
                    <div class="input-group">
                        <input id="field_dataHoraDevolucaoPrev" type="text" class="form-control" name="dataHoraDevolucaoPrev" ngbDatepicker  #dataHoraDevolucaoPrevDp="ngbDatepicker" [(ngModel)]="reserva.dataHoraDevolucaoPrev"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataHoraDevolucaoPrevDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primeiraAplicacaoApp.reserva.servidor" for="field_servidor">Servidor</label>
                    <select class="form-control" id="field_servidor" name="servidor" [(ngModel)]="reserva.servidor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="servidorOption.id === reserva.servidor?.id ? reserva.servidor : servidorOption" *ngFor="let servidorOption of servidors; trackBy: trackServidorById">{{servidorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
